.protocol-list {
  position: relative;
  border-radius: toRem(32);
  padding: clamp(1rem, 0.6285714285714286rem + 1.5238095238095237vw, 2rem); //32 - 16
  background-color: var(--color-light-white);

  &__list {
    display: flex;
    flex-direction: column;
    gap: toRem(16);
  }
}

@include mq('lg') {
  .protocol-list {
    &__wrapper {
      max-height: toRem(300);
    }
  }
}
