.protocol-card {
  display: flex;
  align-items: center;
  border-radius: toRem(24);
  width: 100%;
  transition: background-color var(--transition-default);
  cursor: pointer;
  gap: clamp(1.25rem, 1.157142857142857rem + 0.38095238095238093vw, 1.5rem); //24 - 20;
  padding-block: clamp(1.25rem, 1.157142857142857rem + 0.38095238095238093vw, 1.5rem); //24 - 20
  padding-inline: toRem(24);

  &__image {
    flex-shrink: 0;
    width: toRem(28);
    height: toRem(28);
  }

  &__title {
    overflow: hidden;
    font-weight: 500;
    font-size: clamp(1.125rem, 1.0785714285714285rem + 0.19047619047619047vw, 1.25rem); //20 - 18
    line-height: 1.6;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--active {
    background-color: var(--color-accent-active);
  }

  @include hover {
    background-color: var(--color-accent-hover);
  }
}
