.simplebar {
  height: 100%;
  background-color: transparent;

  :deep(.simplebar-scrollbar) {
    background-color: transparent;
  }

  :deep(.simplebar-track) {
    background-color: transparent;
    visibility: visible;
    pointer-events: all;
  }

  :deep(.simplebar-scrollbar::before) {
    z-index: var(--z-index-1);
    background-color: var(--color-divider);
    opacity: 1;
    cursor: pointer;
    inset: 0;
  }

  &.simplebar-scrollable-y {
    padding-right: toRem(32);

    :deep(.simplebar-track) {
      width: toRem(6);
    }

    // :deep(.simplebar-placeholder) {
    //   width: 100% !important;
    //   height: 100% !important;
    // }

    :deep(.simplebar-scrollbar::before) {
      top: 0;
    }
  }

  &.simplebar-scrollable-x {
    padding-bottom: toRem(24);

    :deep(.simplebar-track) {
      height: toRem(6);
    }
  }

  // &.simplebar-scrollable-y {
  //   height: toRem(6);
  // }
}
